header {
  background-image: url("./pics/stones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  border-radius: 5px;
}

body {
  text-align: center;
  background-color: antiquewhite;
  font-family: "Lora", serif;
  font-size: 2rem;
}

h1 {
  font-size: 65px;
  color: rgb(14, 14, 13);
}

h2 {
  font-size: 25px;
}

#main {
  padding: 20px;
}

#input {
  border-style: hidden;
  width: 20rem;
  padding-left: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#input,
#submit {
  border-radius: 5px;
  height: 3rem;
}

#submit {
  background-color: #d4c9be;
  width: 4rem;
  font-family: "Lora", serif;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#submit:hover {
  background-color: #9f9c99;
}

#alerting{
    font-size: 1.4rem;
    color:#FF0000;
}

#deleteAll {
  background-color: #d4c9be;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: black;
  font-family: "Lora", serif;
  font-weight: bold;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

#deleteAll:hover {
  background-color: #FF0000;
  color:antiquewhite;
}

#deleteAll img {
  position: relative;
  margin: -0.25rem;
  margin-right: 0.4rem;
}

.MyTasks {
  background-color:antiquewhite;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 0.4rem;  
  max-width: 800px;
}

.delete-icon:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

li {
  list-style-type: none;
  padding: 10px;
}

li :hover {
  cursor: pointer;
}

.completed {
  color: grey;
  text-decoration-line: line-through;
}

.delete-icon {
  padding-left: 1rem;
  height: 2rem;
}

@media (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }

  header {
    padding: 2.5rem 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  #input {
    width: 15rem;
    padding-left: 0.5rem;
  }

  #submit {
    width: 3rem;
  }
  
  #deleteAll {
    padding: 5px;
    font-size: 15px;
  }
}
